<div class="p-4">
    <div class="container">
        <h1>Hi {{ account.firstName }}!</h1>
        <p>Successfully Logged into the Demo Protal</p>
        <table class="table table-dark">
            <caption>Your Investments</caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>01/02/2015</td>
                    <td>25000</td>
                    <td>25000</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>23/07/2016</td>
                    <td>15000</td>
                    <td>40000</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>01/12/2018</td>
                    <td>300</td>
                    <td>40300</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>02/12/2018</td>
                    <td>200</td>
                    <td>40500</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>01/02/2019</td>
                    <td>300</td>
                    <td>40800</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>01/01/2021</td>
                    <td>40000</td>
                    <td>80800</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>