<div class="p-4">
    <div class="container">
        <h1>Hi {{ account.firstName }}!</h1>
        <p>Successfully Logged into the Demo Protal</p>
        <table *ngif="true; then adminTemplate else userTemplate"  class="table table-dark">
           <ng-template #adminTemplate>
                <caption>Users with Investments</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <ng-container *ngFor="let user of users">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.telephone}}</td>
                        <td>{{user.totalAmout}}</td>
                    </ng-container>
                    </tr>
                </tbody>
           </ng-template>
           <ng-template #userTemplate>
                <caption>Your Investments</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Transaction Amount</th>
                        <th scope="col">Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let user of users">
                        <ng-container *ngIf="user.id === 'account.id'">
                            <tr *ngFor="let transaction of user.transactions">
                                <th scope="row">{{transaction.id}}</th>
                                <td>{{transaction.date}}</td>
                                <td>{{transaction.amount}}</td>
                                <td>{{transactionTotal}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
           </ng-template>
        </table>
    </div>
</div>